body {
    background-image: url("../Images/background.jpeg");
}
.centered {
	Text-align: center;
}
#nav {
	Width: 100%;
	Height: 200px;
	Background-color: transparent;
	Background-size: cover;
}
#nav_wrapper{
	text-align: center;
	Height: 70px;
	Width: 80%;
	Background: transparent;
	Margin-left: auto;
	Margin-right: auto;
	Margin-top: 100px;
}
#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#nav ul li{
	display: inline-block;
}
#nav ul li:hover{
	background-color: #333;
}
#nav ul li a,visited{
	color: black;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#nav ul li a:hover{
	color: black;
	text-decoration: none;
}		
#nav ul li:hover ul{
	display: block;
}
#nav ul ul{
	display: none;
	position: absolute;
	background-color: #333;
}
#nav ul ul li{
	display: block;
}
#nav ul ul li a:hover{
	color: #377D7A;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.container {
	width: 100%;
	text-align: center;
	background: white;
	padding: 20px;
}
#bio {
	display: inline-block;
}
#image {
	float: right;
	margin-bottom: 20px;
	margin-right: 20px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;
}
#googleform {
	padding-left: 35%;
	padding-right: 30%;
}
#nav .current {
	background-color: red;
}
.content {
	width: 50%;
	
}